body{
    background-image: url('/images/plank.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rgb(255, 255, 255);
}
#main{
    flex-grow: 1;
}
header{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.678);
    height: 100px;
    border-bottom: 1px solid white;
    margin-bottom: 5%;
}
#head{
    color: white;
    line-height: 100px;
}
#head a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 0 6%;
}
#head a:hover{
    text-decoration: underline;
}
footer{
    background-color: rgba(0, 0, 0, 0.76);
    color: rgb(255, 255, 255);
    padding: 1%;
    font-size: 25px;
    border-top: 1px solid white;
    text-align: center;
}
img{
    border-radius: 10%;
    border: 1px solid goldenrod;
    height: 200px;
    width: 200px;
}
#image{
    float: left;
    margin-left: 5%;
}
input{
    margin: 0 0 1% 2%;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    font-size: 30px;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    background : rgba(255, 255, 255, 0.301);
    color: rgb(0, 0, 0);
    padding-left: 12px;
}
#image button{
    width: 100%;
    height: 60px;
    font-size: 20px;
    margin: 7% 0 1% 0;
    cursor: pointer;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
}
button{
    width: 41%;
    height: 60px;
    font-size: 20px;
    margin: 3% 0 1% 2%;
    cursor: pointer;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
}
#image button:hover, button:hover{
    background-color: white;
    color: black;
}
@media(max-width:600px){
    body{
        background-image: url('/images/plank.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        color: rgb(255, 255, 255);
    }
    #main{
        flex-grow: 1;
    }
    header{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.678);
        height: 80px;
        border-bottom: 1px solid white;
        margin-bottom: 5%;
    }
    #head{
        color: white;
        line-height: 80px;
    }
    #head a{
        text-decoration: none;
        color: white;
        font-size: 18px;
        margin: 0 6%;
    }
    #head a:hover{
        text-decoration: underline;
    }
    footer{
        background-color: rgba(0, 0, 0, 0.76);
        color: rgb(255, 255, 255);
        padding: 1%;
        font-size: 18px;
        border-top: 1px solid white;
        text-align: center;
    }
    img{
        border-radius: 10%;
        border: 1px solid goldenrod;
        height: 100px;
        width: 100px;
    }
    #image{
        float: left;
        margin-left: 5%;
    }
    input{
        margin: 0 0 1% 2%;
        width: 40%;
        height: 20px;
        border-radius: 7px;
        font-size: 16px;
        outline: none;
        border: 2px solid rgb(0, 0, 0);
        background : rgba(255, 255, 255, 0.301);
        color: rgb(0, 0, 0);
        padding-left: 12px;
    }
    #image button{
        width: 80%;
        height: 40px;
        font-size: 16px;
        margin: 7% 0 1% 0;
        cursor: pointer;
        border: 2px solid white;
        background-color: rgba(0, 0, 0, 0.404);
        color: white;
    }
    button{
        width: 43%;
        height: 40px;
        font-size: 16px;
        margin: 3% 0 1% 2%;
        cursor: pointer;
        border: 2px solid white;
        background-color: rgba(0, 0, 0, 0.404);
        color: white;
    }
    #image button:hover, button:hover{
        background-color: white;
        color: black;
    }
    
}