<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload avatar</title>
    <link rel="stylesheet" type="text/css" href="/css/avatarup.css">
</head>
<body>
    <div id="main">
    {{>header}}
    <img src="data:image/png;base64, {{this.image}}" onerror="pic()">
    <form action="/users/me/avatar" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar" required>
    <button type="submit">upload</button>
    </form>
    </div>
    {{>footer}}
    <script src="/js/avatar.js"></script>
</body>
</html>